.Register-contain {
    background-color: #282c34;
    background: url(../../../images/login/login.jpg) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }